.card{
    width: auto;
    background-color: #f8f8f8;
    border: #b5b0b0;
}

.rectangle-upload{
  height: 10%;
  width: 33%;
  background-color: white;
  color: black;
  border: 1px solid #4CAF50; 
  border-radius: 5%;
  font-weight: 550;
  margin-left: 34%;
}

.ekyc-text{
    color:#ff1111;
    font-size: xx-small;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}