.thankyou-banner {
    width: 50%;
    margin-left: 30%;
    margin-right:30%;
    margin-bottom: 10%;
    margin-top:10%;

  }

  .text3{
    opacity: 0.85;
    font-family: ProximaNova;
    color: #212121;
    font-size: xx-small;
    font-weight: 590;
    margin-top:5%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;

  }

  .text4{
    opacity: 0.85;
    font-family: ProximaNova;
    color: #4d4d4d;
    font-size: xx-small;
    font-weight: 500;
    margin:10%;
    text-align: center;

  }

  .backtohome{
      background-color: #33b129;
      font-family: ProximaNova;    
      font-stretch: normal;
      font-style: normal;   
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      border-radius: 4%;
  }