<nav class="nav-container">
    <span class="pr-3">
    <img src="assets/icons/back-arrow.svg" alt="back" width="5%">
    </span>
    <span class="page-heading">
    {{title}}
    </span>
    <div>
       <div class="row col align-self-center">
          <img src="assets/images/thankyou.png" alt="thankyou" class="thankyou-banner">
       </div>
       <div class="row justify-content-center">
          <div class="link-note">
             Thank You Pawan Tandon
          </div>
          <div class="text3">
             <p >We have received your account opening request.</p>
             <span>Your document verification is under proceed and you will receive the Client ID and 
             password on your email subject to successful verification.</span>
          </div>
          <div class="text4 col-12">
             <p >A verification link has been sent to confirm your emial.</p>
             <span>Please Verify your email to receiving the mail communications from us.</span>
          </div>
          <div class="backtohome">
             <button  class="btn btn-success align-self-center ">Back To Home</button>
          </div>
       </div>
    </div>
 </nav>